[submodule "ext/yasnippet"]
	path = ext/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "ext/auto-complete"]
	path = ext/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "ext/glsl-mode"]
	path = ext/glsl-mode
	url = https://github.com/jimhourihan/glsl-mode.git
[submodule "ext/auto-complete-clang"]
	path = ext/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "ext/color-theme-solarized"]
	path = ext/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
